.variable-form input:nth-child(2){
  margin-left: 10px;
  margin-right:10px;
};

.button-form{
  margin-left: 10px;
}

.operations-nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.operations-nav > * {
  margin-right: 5px;
  padding-right:5%;
  
}